/*Responsive*/

@media screen and (max-width:1200px) {
    .content-list{
        flex-wrap: wrap;
        gap: 8%;
        line-height: 70px;
    }

    .main-center{
        flex-wrap: wrap;
    }

}

@media screen and (max-height: 1000px) {
    .hidden1000px{
        display: none;
    }
}

@media screen and (max-width:576px) {
    .invisible{
        display: none;
    }

    .logo{
        display:none ;
    }

    .logo-small{
        display: block;
    }

    #sidebar{
        width: 70px;
    }

    #content{
        width: calc(100% - 70px)
    }

    .user{
        margin-top: 20px;
    }

}



@media screen and (max-height: 355px) {

    .hidden355px{
        display: none;
    }
}